six
tqdm
future
torch==0.3.1
torchtext==0.2.1
dynet==2.0
gensim==0.13.4.1
numpy==1.14.3
pyenchant==2.0.0
https://github.com/kpu/kenlm/archive/master.zip
https://www.github.com/irshadbhat/indic-wx-converter/archive/master.zip
